* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	color: aliceblue;
	background: #1b1b1b;
}

a {
	text-decoration: none;
}

/* ANIMATIOS */
@keyframes show-right {
	from {
		opacity: 0;
		transform: translate3d(-30px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* NAV BAR */

#logo img {
	height: 60px;
}

#navbar {
	margin-bottom: 1em;
	padding: 1.2em 1.4em;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #22d6f2;
}

#navbar ul {
	list-style: none;
	display: flex;
}

#navbar li {
	margin-left: 1em;
}

#navbar li a {
	color: aliceblue;
	font-weight: 600;
	transition: 500ms all ease-in-out;
}

#navbar li a:hover {
	color: #22d6f2;
}

/* MESSAGES */
.message {
	max-width: 50%;
	padding: 0.5em;
	margin: 0 auto 2em;
	text-align: center;

	font-size: 1.2em;
	font-weight: 600;

	animation: show-right forwards 500ms ease-in-out;

	color: #1b1b1b;
	border-radius: 5px;
	border-bottom: 1px solid aliceblue;
}

.message-error {
	background-color: #f22260;
}

.message-success {
	background-color: #22f294;
}

.message .bi-exclamation-circle,
.bi-check {
	font-size: 1.2em;
	font-weight: 600;
}

/* CONTAINER */

.container {
	padding: 2em;
	min-height: 100vh;
}

/* LOGIN REGISTER */
.auth-container {
	max-width: 720px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.auth-container h2 {
	margin-bottom: 1em;
	color: aliceblue;
	border-left: 4px solid #22d6f2;
	padding: 0.3em;
}

.auth-container a {
	color: #22d6f2;
}

.form-controll {
	margin-bottom: 1em;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-controll label {
	display: block;
	font-weight: 700;
	margin-bottom: 0.5em;
}

.form-controll input,
.form-controll textarea {
	width: 100%;
	padding: 0.7em;
	color: aliceblue;
	border-radius: 3px;
	margin-bottom: 1.2em;
	border: 1px solid #22d6f2;
	background-color: transparent;
}

form button[type='submit'],
.button {
	color: #22d6f2;
	padding: 0.5em 1.2em;
	background-color: transparent;
	border: 1px solid #22d6f2;

	transition: 500ms all ease-in-out;

	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 1em;
}

form button[type='submit']:hover,
.button:hover {
	color: #1b1b1b;
	background-color: #22d6f2;
}

/* CREATE AND EDIT FORM*/

.tought-form-container a {
	color: #22d6f2;
	transition: all 500ms ease-in-out;
}

.tought-form-container a:hover {
	color: aliceblue;
}

.tought-form-container h2 {
	margin: 1em 0;
	color: aliceblue;
	border-left: 4px solid #22d6f2;
	padding: 0.3em;
}

.tought-form-container form {
	max-width: 30%;
	margin-top: 1.5em;
}

/* DASHBOARD */
.title-container {
	display: flex;
	margin-bottom: 1.5em;
	justify-content: space-between;
}

.title-container h2 {
	padding: 8px;
	border-left: 4px solid #22d6f2;
}

.dashboard h3 {
	margin-bottom: 1.5em;
}

.dashboard ul {
	list-style: none;
}

.dashboard ul li {
	padding: 12px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #22d6f2;
}

.dashboard .action {
	display: flex;
	align-items: center;
}

.dashboard .label {
	color: #22d6f2;
	font-weight: 600;
	margin-right: 2em;
}

.dashboard .action .button {
	color: aliceblue;
	border-color: aliceblue;
	margin-right: 0.5em;
}
.dashboard .action .button a {
	color: aliceblue;
}

/* FOOTER */
footer {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #22d6f2;
}

footer span {
	color: #22d6f2;
	font-weight: bold;
}
