<div class='auth-container'>
	<h2>Login</h2>
	<form action='/auth/login' method='POST'>
		<div class='form-controll'>
			<label for='email'>E-mail*</label>
			<input type='email' name='email' placeholder='Digite seu email' />
		</div>
		<div class='form-controll'>
			<label for='password'>Senha*</label>
			<input type='password' name='password' placeholder='Digite sua senha' />
		</div>
		<button type='submit'>Entrar</button>
		<p>Não tem uma conta? <a href='/auth/register'>Clique aqui</a></p>
	</form>
</div>
